
body{
    background-image: url('ss2.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  position: relative;
  
  border: 2px solid black ;
  box-sizing: border-box; 
  min-height: 91vh;
  margin: 40px;
  padding: 10px;
  overflow: hidden;
}
h1{
  text-align: center;
}
  h2{
    text-align: right;
  }

p{
  text-align: center;
}
p1{
  text-align: right;
}
p2{
  text-align: right;
}
p3{
  text-align: right;
}
p4{
  text-align: right;
}
p5{
  text-align: right;
}



